<!DOCTYPE html>
<html lang ='en'>
    <header>
        <title>Question Answering System</title>
    </header>
    <body>
        <h1>Question Answering System</h1>
        <h2>Question:</h2>
        <form action="" method ="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit">
        </form>
        {% comment %} <ul>
            {% for question in questions%}
                <li>{{question}}</li>
            {% endfor %}
        </ul> {% endcomment %}
        <h2>{{questions}}</h2>     
    </body>
</html>